@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;1,400&family=Markazi+Text:wght@700&display=swap");

:root {
	--primaryColor: #495e57;
	--secondaryColor: #f4ce14;
}

html {
	box-sizing: border-box;
	font-size: 16px;
	/*TODO: Horizontal scroll bar...? */
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav-links a {
	font-family: Karla, sans-serif;
	font-weight: 600;
	text-decoration: none;
}
